/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* Section Styling */
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Image Section */
.image-section {
  background-color: #eeeeee;
}
.image-section img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  width: 100%;
}

/* Text Section */
.text-section {
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  position: relative;
}

.text-section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #547c74;
}

.text p {
  font-size: 1.2rem;
  color: #667c54;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.6rem;
  color: black;
  text-align: center;
  width: 100%;
  margin: auto;
}

/* Desktop View */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .image-section {
    width: 50%;
    height: 100vh;
  }

  .image-section img {
    height: 95vh;
  }

  .text-section {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Mobile View */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: auto; /* Let the height adjust naturally */
  }

  .image-section {
    width: 100%;
    height: auto;
  }

  .image-section img {
    width: 100%; /* Ensure the image spans the full width */
    height: auto; /* Maintain the aspect ratio */
  }

  .text-section {
    width: 100%;
    padding: 20px; /* Add padding for better spacing */
    text-align: center; /* Center the text */
    height: 100vh;
  }
}
